/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: 'wght' var(--main-font-weight);
  font-weight: var(--main-font-weight);
}

.content-section {
  inline-size: var(--content-inline-size);
  margin-inline: auto;
}

.header {
  display: grid;
  justify-items: center;
  margin-block-start: 100px;
  padding-block-start: var(--header-padding-block-start);
  padding-block-end: var(--header-padding-block-end);
  border: 2px solid currentColor;
  background-color: #fff;
  font-family: var(--accent-font), fantasy;
  text-transform: uppercase;
}

.header__title {
  font-size: var(--logo-font-size);
  line-height: 1;
}

.header__subtitle {
  margin-block-start: 20px;
  font-size: var(--title-font-size);
  line-height: 1;
}

@media (width <= 375px) {
  .content-section {
    inline-size: 100%;
  }
}
