:root {
  --main-font: 'Inter';
  --accent-font: 'PressStart2P';
  --main-font-weight: 400;
  --heading-font-weight: 785;
  --content-inline-size: clamp(375px, 48.58vw, 700px);
  --header-padding-block-start: clamp(120px, 7.03rem + 1.95vw, 136px);
  --header-padding-block-end: 25px;
  --logo-font-size: clamp(49px, 2.71rem + 1.5vw, 65px);
  --title-font-size: clamp(14px, 0.58rem + 1.25vw, 23px);
  --main-color: #000;
  --background-color: #fff;
  --section-block-start: 100px;
  --card-title-font-size: 18px;
  --card-title-font-weight: 785;
  --card-text-font-size: 18px;
  --card-text-line-height: 21px;
  --button-text-font-size: 14px;
  --button-text-color: #fff;
  --border-size: 2px;
  --label-stroke-color: #fff;
  --page-background:
    repeating-linear-gradient(
      to right,
      #d3d3d3 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(
      to bottom,
      #d3d3d3 0 2px,
      transparent 2px 4px
    ),
    linear-gradient(to bottom, #e7e7e7 0 0.01%, #1a1a1a 100%);
  --dialog-inline-size: clamp(341px, 21rem + 1.07vw, 353px);
  --contour-color: var(--main-color);
  --animation-fill-color: #f00;
  --core-color: transparent;
  --main-body-color: transparent;
  --sparks-color: transparent;
}
